body {
    margin: auto;
    max-width: 800px;
    font-family: 'source_sans_proregular';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -3px;
}

h2 {
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #666;
}

a {
    color: #333;
}

h1, h2, h3, h4, h5, h5 {
    text-transform: uppercase;
}
