#experience .role {
    font-weight: bold;
}

#experience .organization {
    font-weight: bold;
}

#experience > .history ul {
    list-style-type: circle;
}

#experience > .history ul li {
    margin-left: 1.5em;
}

#experience .location {
    font-style: italic;
}

.desc {
    color: #666;
}

.row:after, .row:before {
    display: table;
    content: "";
}

.row:after {
    clear: both;
}

.row:after, .row:before {
    display: table;
    content: "";
}

.left {
    float: left;
    width: 25%
}

.right {
    float: left;
    width: 75%;
}

.history {
    padding-left: 0;
}

.history > li {
    margin-bottom: 1em;
}

.title-history > li {
    list-style-type: none;
    margin-left: 0 !important;
}


@media screen and (max-width:700px) {
    body {
        font-size: 0.9em;
    }
    .left, .right {
        float: none;
        width: 100%;
    }
}

@media print {
    body {
        font-size: 0.9em;
    }
}
